@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn-reddit {
  background-color: #d93900;
  border-color: #d93900;
  color: #ffffff;
}

.btn-reddit:hover {
  background-color: #ae2c00;
  border-color: #ae2c00;
  color: #ffffff;
}